{% extends 'base.html.twig' %}

{% block title %}Edit RepairCommentary{% endblock %}

{% block body %}
    <h1>Edit RepairCommentary</h1>

    {{ include('repair_commentary/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('repair_commentary_index') }}">back to list</a>

    {{ include('repair_commentary/_delete_form.html.twig') }}
{% endblock %}
