{% extends 'base.html.twig' %}

{% block title %}New RepairCommentary{% endblock %}

{% block body %}
    <h1>Create new RepairCommentary</h1>

    {{ include('repair_commentary/_form.html.twig') }}

    <a href="{{ path('repair_commentary_index') }}">back to list</a>
{% endblock %}
