{% extends 'base.html.twig' %}

{% block title %}New JumpingTilt{% endblock %}

{% block body %}
    <h1>Create new JumpingTilt</h1>

    {{ include('jumping_tilt/_form.html.twig') }}

    <a href="{{ path('jumping_tilt_index') }}">back to list</a>
{% endblock %}
